<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>timendless</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=""/>
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script>
    function copyToClipboard(content) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val(content).select();
      document.execCommand("copy");
      $temp.remove();
    }
    </script>
</head>
<body>
  <!-- <p id="p1">P1: I am paragraph 1</p>
  <p id="p2">P2: I am a second paragraph</p> -->
  <button onclick="copyToClipboard('pp1')">Copy P1</button>
  <button onclick="copyToClipboard('pp2')">Copy P2</button>
  <br/><br/><input type="text" placeholder="Paste here for test" />

  <a href="mailto:?Subject=beautiful image&body=<p>test</p>">
    share by email
  </a>

</body>
</html>
